# Базы данных во всех папках
*.sqlite3
*.sqlite
*.db
*.db-journal
*.sqlite3-journal
*.db-shm
*.db-wal

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Виртуальное окружение
venv/
.venv/
env/
ENV/

# Переменные окружения
.env
.env.*
!.env.example

# Django
staticfiles/
media/
*.log

# Celery
celerybeat-schedule
celerybeat.pid

# Тесты и кэш
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# IDE
.idea/
.vscode/

# Системные файлы
.DS_Store
Thumbs.db