SECRET_KEY=replace-with-your-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=pypath_db
DB_USER=pypath_user
DB_PASSWORD=replace-with-your-database-password
DB_HOST=localhost
DB_PORT=5432