{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Loft Dynamics{% endblock %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Montserrat:ital,wght@0,700;0,800;1,700;1,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="header">
        <div class="header-container">
            <a href="/" class="logo">
                Loft<span>.</span>
            </a>

            <nav class="nav">
                <a href="/" class="nav-link">Главная</a>
                <a href="/tables/" class="nav-link">Пространство</a>
                <a href="/reservations/my/" class="nav-link">Мой профиль</a>

                <div class="nav-auth">
                    {% if user.is_authenticated %}
                        <a href="/logout/" class="btn btn-outline"><span class="btn-content">Выйти</span></a>
                    {% else %}
                        <a href="/login/" class="nav-link">Вход</a>
                        <a href="/signup/" class="btn btn-primary"><span class="btn-content">Регистрация</span></a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>