{% extends 'booking/base.html' %}
{% block content %}
<div class="glass-card" style="max-width: 900px;">
    <h2 style="margin-bottom: 30px;">твои визиты 🛸</h2>
    {% if reservations %}
        <div style="overflow-x: auto;">
            <table style="width: 100%; border-collapse: separate; border-spacing: 0 10px;">
                <thead>
                    <tr style="text-align: left; opacity: 0.5; font-size: 0.8rem;">
                        <th style="padding: 10px;">СТОЛ</th>
                        <th>ДАТА</th>
                        <th>ВРЕМЯ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for res in reservations %}
                    <tr style="background: rgba(255,255,255,0.03); transition: 0.3s;">
                        <td style="padding: 20px; border-radius: 15px 0 0 15px; font-weight: 900;">№{{ res.table.number }}</td>
                        <td>{{ res.date }}</td>
                        <td>{{ res.hour_start }}:00 - {{ res.hour_end }}:00</td>
                        <td style="border-radius: 0 15px 15px 0; text-align: right; padding-right: 20px;">
                            <a href="{% url 'edit_reservation' res.pk %}" style="text-decoration: none; margin-right: 15px;">✏️</a>
                            <form action="{% url 'delete_reservation' res.pk %}" method="post" style="display:inline;">
                                {% csrf_token %}<button type="submit" style="background:none; padding:0; width:auto;">❌</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p>Броней нет. Может, пора зайти?</p>
    {% endif %}
</div>
{% endblock %}