{% extends 'booking/base.html' %}
{% block content %}

<div class="glass-card">
    <h2 style="text-align: center; margin-bottom: 40px; font-weight: 900; font-size: 1.8rem;">
        🧪 оформление брони
    </h2>

    <form method="post">
        {% csrf_token %}
        <!-- Django сам вставит <p><label>...</label><input></p> -->
        {{ form.as_p }}

        <button type="submit" class="btn-submit">подтвердить</button>
    </form>

    <div style="margin-top: 25px; text-align: center;">
        <a href="{% url 'table_list' %}" class="btn-text" style="opacity: 0.5; text-decoration: none;">
            ← отмена
        </a>
    </div>
</div>

{% endblock %}